<% if @wiki.user_id == current_user.id || current_user.admin? %>
  <%= form_tag collaborators_path, method: :post %>
    <%= text_field_tag :email %>
    <%= hidden_field_tag :wiki_id, @wiki.id %>
    <%= submit_tag "Add Collaborator" %>
<% end %>

</br>

<div class="container">
  <div class="row">
    <h4>Wiki Collaborators</h4>
    <% @wiki.collaborators.each do |collaborator| %>
      <p>
        <%= collaborator.user.email %>
        <% if @wiki.user_id = current_user.id || current_user.admin? %>
          <%= link_to "Delete Collaborator", [collaborator], method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

