<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
     <ul class="nav nav-tabs">
         <h1><%= link_to "Blocipedia", root_path %></h1>
         <h1><%= link_to "Wikis", wikis_path %></h1>
     </ul>

     <%= yield %>
   </div>
    
        
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</body>
</html>

 